@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color: #6C7AE0;
    --secondary-color: #1877F2;
    --background-color: #f0f2f5bb;
    --text-color:  #000000;
    --button-color: #1877F2;
    --white: #fff;
    --add-button: #42B72A;
    --footer-text: #8A8D91;
}

*{
    font-family: 'Poppins', sans-serif;
  }